<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxu.physical.theatre.database.mapper.TAppointmentInfoMapper">

    <resultMap id="BaseResultMap" type="com.chenxu.physical.theatre.database.domain.TAppointmentInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,course_id,
        type,create_at
    </sql>
    <select id="getAppointmentInfoByCourseId"
            resultType="com.chenxu.physical.theatre.database.domain.TAppointmentInfo">
        select T.*, T2.nickname, T2.avatar,T2.phone
        from T_APPOINTMENT_INFO T
                 left join springboot_demo.T_USER T2 on T.user_id = T2.id
        where course_id = #{courseId}
    </select>
    <select id="getAppointmentInfosByUserIdAndDate"
            resultType="com.chenxu.physical.theatre.database.domain.TAppointmentInfo">
        select T.*, T2.COURSE_NAME, T2.DATE, T2.START_TIME, T2.END_TIME
        from T_APPOINTMENT_INFO T
                 left join springboot_demo.T_COURSE T2 on T.course_id = T2.id
        where user_id = #{userId}
          and T2.DATE >= #{date}
          and T.type in (1, 4)
        order by T2.START_TIME asc
    </select>
    <select id="getAllAppointmentInfosByUserId"
            resultType="com.chenxu.physical.theatre.database.domain.TAppointmentInfo">
        select T.*, T2.COURSE_NAME, T2.DATE, T2.START_TIME, T2.END_TIME
        from T_APPOINTMENT_INFO T
                 left join springboot_demo.T_COURSE T2 on T.course_id = T2.id
        where user_id = #{userId}
        order by T2.START_TIME asc
    </select>
    <select id="getAppointmentInfoByCourseIds"
            resultType="com.chenxu.physical.theatre.database.domain.TAppointmentInfo">
        select T.*, TU.nickname, TU.avatar
        from T_APPOINTMENT_INFO T
                 left join springboot_demo.T_USER TU on TU.id = T.user_id
        <where>
            <foreach item="item" index="index" collection="courseIds"
                     open="T.course_id in (" separator="," close=")" nullable="true">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="getAllAppointmentInfosByUserIds"
            resultType="com.chenxu.physical.theatre.database.domain.TAppointmentInfo">
        select T.*, T2.COURSE_NAME, T2.DATE, T2.START_TIME, T2.END_TIME
        from T_APPOINTMENT_INFO T
                 left join springboot_demo.T_COURSE T2 on T.course_id = T2.id
        <where>
            <foreach item="item" index="index" collection="userIds"
                     open="T.user_id in (" separator="," close=")" nullable="true">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>
