<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxu.physical.theatre.database.mapper.TCourseMapper">

    <resultMap id="BaseResultMap" type="com.chenxu.physical.theatre.database.domain.TCourse">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="courseName" column="COURSE_NAME" jdbcType="VARCHAR"/>
        <result property="type" column="TYPE" jdbcType="TINYINT"/>
        <result property="lesson" column="LESSON" jdbcType="INTEGER"/>
        <result property="date" column="DATE" jdbcType="DATE"/>
        <result property="maximum" column="MAXIMUM" jdbcType="INTEGER"/>
        <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
        <result property="bookedNum" column="BOOKED_NUM" jdbcType="INTEGER"/>
        <result property="minimum" column="MINIMUM" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,COURSE_NAME,TYPE,
        LESSON,DATE,MAXIMUM,MINIMUM,BOOKED_NUM,
        START_TIME,END_TIME
    </sql>
    <select id="getBookableCoursesWithAppointmentInfoByUserid"
            resultMap="selectPageTCourseListWithAppointmentInfoListMap">
        select tc.*, tai.id as APPOINTMENT_INFO_id, tai.user_id, tai.course_id, tai.type as APPOINTMENT_INFO_TYPE
        from T_COURSE tc
                 left join T_APPOINTMENT_INFO tai on tc.id = tai.course_id
        where (tc.type = 1 or tc.type = 5)
          and tc.DATE >= #{startDate}
          and tc.DATE <![CDATA[<=]]> #{endDate}
          and not exists (select 1
                          from T_APPOINTMENT_INFO tmp
                          where tmp.course_id = tc.id
                            and (tmp.type != 2)
                            and tmp.user_id = #{userid})
        order by tc.DATE, tc.LESSON
    </select>
    <select id="getAleardyBookedCoursersWithAppointmentInfoByUserid"
            resultMap="selectPageTCourseListWithAppointmentInfoListMap">
        select tc.*, tai.id as APPOINTMENT_INFO_id, tai.user_id, tai.course_id, tai.type as APPOINTMENT_INFO_TYPE
        from T_COURSE tc
                 left join T_APPOINTMENT_INFO tai on tc.id = tai.course_id
        where (tc.type = 1 or tc.type = 2 or tc.type = 5)
          and tc.DATE >= #{startDate}
          and tc.DATE <![CDATA[<=]]> #{endDate}
          and exists (select 1
                      from T_APPOINTMENT_INFO tmp
                      where tmp.course_id = tc.id
                        and (tmp.type != 2)
                        and tmp.user_id = #{userid})
        order by tc.DATE, tc.LESSON
    </select>
    <select id="getCourserWithAppointmentInfoByCourseId"
            resultMap="selectPageTCourseListWithAppointmentInfoListMap">
        select tc.*, tai.id as APPOINTMENT_INFO_id, tai.user_id, tai.course_id, tai.type as APPOINTMENT_INFO_TYPE
        from T_COURSE tc
                 left join T_APPOINTMENT_INFO tai on tc.id = tai.course_id
        where tc.id = #{courseId}
    </select>

    <resultMap id="selectPageTCourseListWithAppointmentInfoListMap"
               type="com.chenxu.physical.theatre.database.domain.TCourse">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="courseName" column="COURSE_NAME" jdbcType="VARCHAR"/>
        <result property="type" column="TYPE" jdbcType="TINYINT"/>
        <result property="lesson" column="LESSON" jdbcType="INTEGER"/>
        <result property="date" column="DATE" jdbcType="DATE"/>
        <result property="maximum" column="MAXIMUM" jdbcType="INTEGER"/>
        <result property="minimum" column="MINIMUM" jdbcType="INTEGER"/>
        <result property="bookedNum" column="BOOKED_NUM" jdbcType="INTEGER"/>
        <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
        <collection property="appointmentInfos" ofType="com.chenxu.physical.theatre.database.domain.TAppointmentInfo">
            <id property="id" column="APPOINTMENT_INFO_ID"/>
            <result property="userId" column="USER_ID"/>
            <result property="courseId" column="COURSE_ID"/>
            <result property="type" column="APPOINTMENT_INFO_TYPE"/>
        </collection>
    </resultMap>
</mapper>
