<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxu.physical.theatre.database.mapper.TSampleCourseOrderMapper">

    <resultMap id="BaseResultMap" type="com.chenxu.physical.theatre.database.domain.TSampleCourseOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="courseNember" column="course_nember" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="fee" column="fee" jdbcType="INTEGER"/>
            <result property="membershipFee" column="membership_fee" jdbcType="INTEGER"/>
            <result property="validity" column="validity" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,course_nember,
        title,fee,membership_fee,
        validity,status
    </sql>
</mapper>
