<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxu.physical.theatre.database.mapper.TSysParamsMapper">

    <resultMap id="BaseResultMap" type="com.chenxu.physical.theatre.database.domain.TSysParams">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="paramName" column="param_name" jdbcType="VARCHAR"/>
            <result property="paramValue" column="param_value" jdbcType="VARCHAR"/>
            <result property="paramChineseName" column="param_chinese_name" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,param_name,param_value,
        param_chinese_name
    </sql>
</mapper>
