<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxu.physical.theatre.database.mapper.TUserMapper">

    <resultMap id="BaseResultMap" type="com.chenxu.physical.theatre.database.domain.TUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="loginAt" column="login_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,openid,nickname,
        avatar,phone,type,
        status,createdAt,loginAt
    </sql>
</mapper>
