<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxu.physical.theatre.database.mapper.TUserCouponsMapper">

    <resultMap id="BaseResultMap" type="com.chenxu.physical.theatre.database.domain.TUserCoupons">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="issueTime" column="issue_time" jdbcType="DATE"/>
            <result property="effectiveDays" column="effective_days" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,coupon_id,
        status,issue_time,effective_days
    </sql>
</mapper>
